USE [master]
GO
/****** Object:  Database [Sethu]    Script Date: 26-03-2024 12:12:29 ******/
CREATE DATABASE [Sethu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sethu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQL\MSSQL\DATA\Sethu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sethu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQL\MSSQL\DATA\Sethu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sethu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sethu]
GO
/****** Object:  User [LAPTOP-B7Q7KKCS\rahul]    Script Date: 26-03-2024 12:12:29 ******/
CREATE USER [LAPTOP-B7Q7KKCS\rahul] FOR LOGIN [LAPTOP-B7Q7KKCS\rahul] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[TBL_EMPLOYEE_DETAILS]    Script Date: 26-03-2024 12:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_EMPLOYEE_DETAILS](
	[ED_ID] [int] IDENTITY(1,1) NOT NULL,
	[ED_NAME] [varchar](100) NULL,
	[ED_EMAIL] [nvarchar](100) NULL,
	[ED_DOB] [datetime] NULL,
	[ED_ELM_EXP_LEVEL_ID] [int] NULL,
	[ED_MG_GENDER_ID] [int] NULL,
	[ED_ADDRESS] [nvarchar](500) NULL,
	[ED_CREATED_DATE] [datetime] NULL,
	[ED_UPDATED_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ED_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_EXP_LEVEL_MASTER]    Script Date: 26-03-2024 12:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_EXP_LEVEL_MASTER](
	[ELM_EXP_LEVEL_ID] [int] IDENTITY(1,1) NOT NULL,
	[ELM_LEVEL_NAME] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ELM_EXP_LEVEL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MASTER_GENDER]    Script Date: 26-03-2024 12:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MASTER_GENDER](
	[MG_GENDER_ID] [int] IDENTITY(1,1) NOT NULL,
	[MG_GENDER_NAME] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MG_GENDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_EMPLOYEE_DETAILS] ON 

INSERT [dbo].[TBL_EMPLOYEE_DETAILS] ([ED_ID], [ED_NAME], [ED_EMAIL], [ED_DOB], [ED_ELM_EXP_LEVEL_ID], [ED_MG_GENDER_ID], [ED_ADDRESS], [ED_CREATED_DATE], [ED_UPDATED_DATE]) VALUES (1, N'Rakesh', N'rakesh@gmail.com', CAST(N'2024-03-01T00:00:00.000' AS DateTime), 3, 1, N'Test address', CAST(N'2024-03-26T11:37:55.790' AS DateTime), NULL)
INSERT [dbo].[TBL_EMPLOYEE_DETAILS] ([ED_ID], [ED_NAME], [ED_EMAIL], [ED_DOB], [ED_ELM_EXP_LEVEL_ID], [ED_MG_GENDER_ID], [ED_ADDRESS], [ED_CREATED_DATE], [ED_UPDATED_DATE]) VALUES (2, N'vgfhgfj', N'sethubalu001@gmail.com', CAST(N'2024-03-01T00:00:00.000' AS DateTime), 2, 1, N'test', CAST(N'2024-03-26T11:39:32.890' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[TBL_EMPLOYEE_DETAILS] OFF
SET IDENTITY_INSERT [dbo].[TBL_EXP_LEVEL_MASTER] ON 

INSERT [dbo].[TBL_EXP_LEVEL_MASTER] ([ELM_EXP_LEVEL_ID], [ELM_LEVEL_NAME]) VALUES (1, N'Fresher')
INSERT [dbo].[TBL_EXP_LEVEL_MASTER] ([ELM_EXP_LEVEL_ID], [ELM_LEVEL_NAME]) VALUES (2, N'Intermediate')
INSERT [dbo].[TBL_EXP_LEVEL_MASTER] ([ELM_EXP_LEVEL_ID], [ELM_LEVEL_NAME]) VALUES (3, N'Experienced')
SET IDENTITY_INSERT [dbo].[TBL_EXP_LEVEL_MASTER] OFF
SET IDENTITY_INSERT [dbo].[TBL_MASTER_GENDER] ON 

INSERT [dbo].[TBL_MASTER_GENDER] ([MG_GENDER_ID], [MG_GENDER_NAME]) VALUES (1, N'Male')
INSERT [dbo].[TBL_MASTER_GENDER] ([MG_GENDER_ID], [MG_GENDER_NAME]) VALUES (2, N'Female')
INSERT [dbo].[TBL_MASTER_GENDER] ([MG_GENDER_ID], [MG_GENDER_NAME]) VALUES (3, N'Transgender')
SET IDENTITY_INSERT [dbo].[TBL_MASTER_GENDER] OFF
/****** Object:  StoredProcedure [dbo].[USP_GET_EMPLOYEE_DETAILS]    Script Date: 26-03-2024 12:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_GET_EMPLOYEE_DETAILS] 
@Offset INT,
@PageSize INT,
@SearchKeyword NVARCHAR(100)
AS
BEGIN
    DECLARE @TotalRecords INT;

    BEGIN TRY
        SELECT @TotalRecords = COUNT(*)
        FROM TBL_EMPLOYEE_DETAILS ED
        LEFT JOIN TBL_EXP_LEVEL_MASTER ELM ON ED.ED_ELM_EXP_LEVEL_ID = ELM.ELM_EXP_LEVEL_ID
        LEFT JOIN TBL_MASTER_GENDER MG ON ED.ED_MG_GENDER_ID = MG.MG_GENDER_ID
        --WHERE (@SearchKeyword IS NULL OR ED.ED_NAME LIKE '%' + @SearchKeyword + '%');
		
		--IF(@SearchKeyword = '')
		--BEGIN
		--	SELECT @TotalRecords AS TotalRecords, ED_ID, ED_NAME, ED_EMAIL, CONVERT(VARCHAR, ED_DOB, 105) as ED_DOB, 
		--	ED_ELM_EXP_LEVEL_ID, ELM_LEVEL_NAME, 
		--	ED_MG_GENDER_ID, MG_GENDER_NAME, ED_ADDRESS 
		--	FROM TBL_EMPLOYEE_DETAILS ED
		--	LEFT JOIN TBL_EXP_LEVEL_MASTER ELM ON ED.ED_ELM_EXP_LEVEL_ID = ELM.ELM_EXP_LEVEL_ID
		--	LEFT JOIN TBL_MASTER_GENDER MG ON ED.ED_MG_GENDER_ID = MG.MG_GENDER_ID
		--	WHERE (@SearchKeyword IS NULL OR ED.ED_NAME LIKE '%' + @SearchKeyword + '%')
		--	ORDER BY ED_ID
		--	OFFSET @Offset ROWS
		--	FETCH NEXT @PageSize ROWS ONLY;
		--END
		--ELSE

		BEGIN
			SELECT @TotalRecords AS TotalRecords, ED_ID, ED_NAME, ED_EMAIL, CONVERT(VARCHAR, ED_DOB, 105) as ED_DOB, 
			ED_ELM_EXP_LEVEL_ID, ELM_LEVEL_NAME, 
			ED_MG_GENDER_ID, MG_GENDER_NAME, ED_ADDRESS 
			FROM TBL_EMPLOYEE_DETAILS ED
			LEFT JOIN TBL_EXP_LEVEL_MASTER ELM ON ED.ED_ELM_EXP_LEVEL_ID = ELM.ELM_EXP_LEVEL_ID
			LEFT JOIN TBL_MASTER_GENDER MG ON ED.ED_MG_GENDER_ID = MG.MG_GENDER_ID
		    WHERE (@SearchKeyword IS NULL OR ED_NAME LIKE '%' + @SearchKeyword + '%')
			ORDER BY ED_ID DESC
			OFFSET @Offset ROWS
			FETCH NEXT @PageSize ROWS ONLY; 
		END


    END TRY
    BEGIN CATCH
        SELECT ERROR_MESSAGE() AS ErrorMessage;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[USP_GET_MASTER_EXP_LEVEL]    Script Date: 26-03-2024 12:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GET_MASTER_EXP_LEVEL]
AS
BEGIN
    BEGIN TRY
        SELECT ELM_EXP_LEVEL_ID, 
		ELM_LEVEL_NAME FROM TBL_EXP_LEVEL_MASTER;
    END TRY
    BEGIN CATCH
        SELECT ERROR_MESSAGE() AS ErrorMessage;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_MASTER_GENDER]    Script Date: 26-03-2024 12:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GET_MASTER_GENDER]
AS
BEGIN
    BEGIN TRY
        SELECT MG_GENDER_ID, 
		MG_GENDER_NAME FROM TBL_MASTER_GENDER;
    END TRY
    BEGIN CATCH
        SELECT ERROR_MESSAGE() AS ErrorMessage;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[USP_INSERT_EMPLOYEE_DETAILS]    Script Date: 26-03-2024 12:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_INSERT_EMPLOYEE_DETAILS]
@EmployeeID INT,
@EmployeeName VARCHAR(100),
@EmployeeEmailID NVARCHAR(255),
@EmployeeDOB DATE,
@EmployeeExperienceLevel INT,
@EmployeeGender INT,
@EmployeeAddress VARCHAR(500)
AS
BEGIN
	BEGIN TRY
		IF (@EmployeeID = 0)
		BEGIN
			INSERT INTO TBL_EMPLOYEE_DETAILS
			(ED_NAME,
				ED_EMAIL,
				ED_DOB,
				ED_ELM_EXP_LEVEL_ID,
				ED_MG_GENDER_ID,
				ED_ADDRESS,
				ED_CREATED_DATE)
			VALUES
			(   @EmployeeName,
				@EmployeeEmailID,
				@EmployeeDOB,
				@EmployeeExperienceLevel,
				@EmployeeGender,
				@EmployeeAddress,
				GETDATE())

				SELECT 201 AS MESSAGECODE, 'Employee Details Saved Successfully..!' AS MESSAGE;
		END
		ELSE
		BEGIN
			UPDATE TBL_EMPLOYEE_DETAILS
			SET
				ED_NAME = @EmployeeName,
				ED_EMAIL = @EmployeeEmailID,
				ED_DOB = @EmployeeDOB,
				ED_ELM_EXP_LEVEL_ID = @EmployeeExperienceLevel,
				ED_MG_GENDER_ID = @EmployeeGender,
				ED_ADDRESS = @EmployeeAddress,
				ED_UPDATED_DATE = GETDATE()
			WHERE
				ED_ID = @EmployeeId;  

				SELECT 200 AS MESSAGECODE, 'Employee Details Updated Successfully..!' AS MESSAGE;
		END
	END TRY
	BEGIN CATCH
		SELECT ERROR_MESSAGE() AS ErrorMessage;
	END CATCH
END
GO
USE [master]
GO
