@{
    ViewBag.Title = "About";
}
<html>
<head>
    <style>
        body {
            font-family: 'Oxygen';
        }
        .container {
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    </style>

</head>
<body>
  
    <div class="container body-content">
        <h4>About Us</h4>
        <form action="#" method="POST" class="form-control">
            <div class="form-group">
                <p>
                    Join a team driven by passion and innovation at Caliber Interconnects.<br />
                    We're not just looking for employees; we're seeking trailblazers who are ready to redefine possibilities.<br />
                    Become part of our journey and unlock your potential in an environment where creativity thrives.<br />
                    Join us today and let's create the future, together.
                </p>
            </div>
        </form>
    </div> 
</body>
    

</html>