@{
    ViewBag.Title = "Contact";
}
<html>
<head>
    <style>
        body {
            font-family: 'Oxygen';
        }
        .container {
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <div class="container">
        <form class="form-control">
            <address>
                No 9 B/1, Poombukar Nagar,<br />
                Thudiyalur,<br />
                Coimbatore - 641034,<br />
                Tamilnadu, India<br />
                <abbr title="Phone">P:</abbr>
                +91 82200 45100
            </address>

            <address>
                <strong>Visit Our Website:</strong> <a href="https://www.caliberinterconnect.com/" target="_blank">www.caliberinterconnect.com</a>
            </address>
        </form>

    </div>
</body>
</html>


